.container_footer {
    display: flex; /* Используем флекс для выравнивания */
    background-color: #E7EFFB; /* Цвет фона */
    margin-top: 2%; /* Отступ сверху */
    padding: 1%; /* Упрощаем отступы */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Добавляем тень для глубины */
}

.left_block_footer {
    display: flex;
    width: 75%; /* Убрано дублирование ширины */
    color: #2A7CFF; /* Цвет текста */
    line-height: 1.65; /* Высота строки */
    font-size: 14pt; /* Размер шрифта */
    align-items: center; /* Вертикальное выравнивание содержимого */
    margin-left: 16%; /* Отступ слева */
}

.ip_block_text_left {
    padding-right: 3%; /* Отступ справа для текстового блока */
}

/* Добавим медиа-запрос для адаптивности */
@media (max-width: 768px) {
    .left_block_footer {
        width: 80%; /* Ширина блока на мобильных устройствах */
        justify-content: center; /* Центрируем текст на мобильных устройствах */
        font-size: 8pt; /* Уменьшаем размер шрифта на мобильных устройствах */
    }
}