.header{
    padding-top: 1.823%;
    padding-bottom: 1.823%;
    width: 100%;    
}

.element_header{
    
    width: 100%;
    display: flex;
    /* margin-left: 46.751%; */
    position: relative;
    align-items: center;
}

.element_menu{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    /* margin-right: 27.348%; */
}

.horizontal_list {
    /* border: #000 solid 2px; */
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-left: 20%;
    font-size: 140%;
    
}

.horizontal_list p {
    margin-right: 4.313%;
}

.horizontal_list a:hover {
    color: #2A7CFF;
}

.horizontal-list p:last-child {
    margin-right: 0; /* Убираем отступ у последнего элемента */
}

.horizontal_list a {
    text-decoration: none;
    color: #000; 
}

.btm_go_to_course{
    margin-right: 5.417%;
    /* width: 12%; */
    padding-top: 0.9%;
    padding-bottom: 0.9%;
    padding-left: 1.3%;
    padding-right: 1.3%;
    /* margin-left: auto; */
    background-color: #EDF2FA;
    border-radius: 40px;
    transition: background-color 0.3s, color 0.3s;
}

.btm_go_to_course:hover{
    background-color: #1D2838;
    color: #EDF2FA;
  
}

.btm_go_to_course a{
   
    text-decoration: none;
    
    color: inherit;
    font-size: 140%;
    /* letter-spacing: 1px; */
}

.btm_go_to_course a:hover{
    color: inherit;
}