.hero_img{
    /* padding-top: 15%; */
    margin: auto;
    background-image: url('../img/hero.png');
    background-size: cover;
    /* background-position: center; */
    /* background-repeat: no-repeat;  */
    border-radius: 40px;
    width: 80%;
    /* display: inline-block; */
}

.text_header{
    padding-top: 15%;
    padding-left: 9.766%;
}

#h1{
    margin: 0;
    /* padding-top: 22.787%; */
    /* padding-left: 9.766%; */
    width: 75%;
    font-size: 500%;
    line-height: 80%;
    color: #1D2838;
}

.text_header p{
    margin: 0;
    padding-top: 1.444%;
    font-size: 160%;
    color: #5D61A6;   
}

.container_btms_hero_img{
    padding-top: 2%;
    display: flex;
    /* width: 22.787%; */
    padding-left: 9.766%;
    padding-bottom: 20%;
}

.btm_contact {
    border: solid 2px #2A7CFF;
    border-radius: 40px;
    color: #2A7CFF;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1.2%;
    padding-right: 1.2%;
    font-size: 140%;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    width: 20%;
    margin-bottom: 2%;
    margin-right: 2%;
}

.btm_contact p {
    margin: 0;
}

.btm_more_detailed{
    border: solid 2px #2A7CFF;
    border-radius: 40px;
    background-color: #2A7CFF;
    color: #fff;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 4%;
    padding-right: 4%;
    font-size: 140%;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    margin-bottom: 2%;
}

.btm_more_detailed p{
    margin: 0;
}