.container_purpose{
    align-items: center;
    max-width: 1380px; /* Ограничение ширины контейнера, если нужно */
    width: 100%; /* Ширина 100% для адаптивности */
    margin: auto;
    margin-top: 1.3027%;
    
}

.h1_purpose{
    margin: auto;
    /* width: 80%; */
    text-align: center;
    font-size: 103px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #2A7CFF;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 2.464%;
}

.text_purpose{
    display: flex;
    /* width: 75%; */
    /* flex-direction: column; */
    /* justify-content: center; */
    flex-shrink: 0;
    color: #000;
    text-align: justify;
    font-size: 125%;
    line-height: 110%;
    font-style: normal;
    font-weight: 400;
    
}

.container_purpose p{
    margin: 0;

}

.bloks{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    max-width: 1380px; /* Ограничение ширины контейнера, если нужно */
    width: 100%; /* Ширина 100% для адаптивности */
    margin: auto;
    margin-top: 1.957%;
}

.left_block_purpose{
    width: 49.711%;
}

.img_child{
    background-image: url(../img/purpose.jpg);
    height: 650px;
    border-radius: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.right_block_purpose{
    width: 44.711%;
    background-color: #EDF2FA;
    border-radius: 40px;
    padding-top: 1.45%;
    padding-bottom: 1.45%;
    padding-left: 2.175%;
    padding-right: 2.175%;

}

.h2_right_block_purpose{
    display: flex;
    width: 605px;
    height: 29px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #2A7CFF;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 69.444%;
}

.moduls{
    display: flex; /* Используем Flexbox для расположения элементов в строку */
    align-items: flex-start; /* Выравниваем элементы по верхнему краю */
    padding-top: 4.053%;
}

.number_moduls{
    display: flex;
    /* height: 16.4%; */
    width: 9.725%;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    background-color: #FDD2D2;
    border-radius: 15px;
    color: #FF4646;
    text-align: center;
    font-size: 49.5px;
    font-style: normal;
    font-weight: 400;
    /* line-height: 52.083%;*/
}

.moduls p{
    width: 85.253%;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    padding-left: 5.026%;
}

